# Ignore node_modules directory
node_modules

# Ignore local environment variables
.env

# Ignore logs
logs
*.log

# Ignore Dockerfile itself (optional)
Dockerfile
docker-compose.yml

# Ignore git files and directories
.git
.gitignore

# Ignore test files
tests
